.alicePageContainer {
  width: 100%;
  height: 100vh;
  background-image: url("../../resources/backgrounds/smallbackgroundslice.png"), url("../../resources/backgrounds/largebackgroundslice.png");
  background-repeat: no-repeat, no-repeat;
  background-color: #3B51DC;
  display: flex;
  flex-direction: column; }

.loadingSpan {
  margin: auto;
  color: white; }

.flexDiv {
  display: flex;
  flex-direction: row; }

.aliceHeaderDiv {
  width: 100%;
  height: 10vh; }

.aliceUsername {
  float: left;
  margin: 3vh;
  font-weight: lighter;
  font-size: 90%;
  color: white;
  text-decoration: none; }

.aliceUsernameIcon {
  margin-right: 5px; }

.aliceMenuItems {
  position: absolute;
  right: 0;
  margin-top: 3vh; }
  .aliceMenuItems > span {
    margin: 3vh;
    color: white;
    font-weight: lighter;
    font-size: 90%; }

.infoDiv {
  height: 50vh; }

.aliceWelcomeDiv > h1 {
  margin-left: 6vh;
  margin-top: 5vh;
  margin-bottom: 4vh;
  color: white; }

.aliceWelcomeMessage {
  font-weight: lighter;
  font-size: 44px;
  color: #ffffff;
  letter-spacing: 0; }

.alertsDiv {
  display: flex;
  flex-direction: column;
  float: right; }

.locDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto; }

.currentBalance {
  margin-top: 5px;
  margin-left: -5px;
  border: 1px solid #273ec6;
  border-radius: 20px;
  background-color: #273ec6;
  color: white;
  padding: 12px; }

.bobPageContainer {
  width: 100%;
  height: 100vh;
  background-color: #28293c;
  display: flex;
  flex-direction: column; }

.loadingSpan {
  margin: auto;
  color: white; }

.flexDiv {
  display: flex;
  flex-direction: row; }

.bobHeaderDiv {
  width: 100%;
  height: 10vh; }

.bobUsername {
  float: left;
  margin: 3vh;
  font-weight: lighter;
  font-size: 90%;
  color: white;
  text-decoration: none; }

.bobMenuItems {
  margin-top: 3vh;
  margin-left: 20%; }

.bobMenuItems > span {
  margin: 3vh;
  color: white;
  font-weight: lighter;
  font-size: 90%; }

.infoDivBob {
  height: 30vh; }

.bobWelcomeDiv {
  text-align: center;
  margin-left: 0;
  margin-top: 0;
  color: white;
  font-size: 20px; }

.bobDetailsDiv {
  margin-top: 1vh;
  color: white; }

.alertsDiv {
  display: flex;
  flex-direction: column; }

.locDivBob {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto; }

.LoCCardConnector {
  border: 5px solid #7646c0;
  width: 10px;
  height: 10px; }

#welcomeMessage {
  font-size: 20px;
  font-weight: lighter; }

#accountBalance {
  font-size: 55px;
  font-weight: lighter;
  margin-bottom: 15px; }

.ellaPageContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column; }

.ellaLoadingSpan {
  margin: auto; }

.flexDiv {
  display: flex;
  flex-direction: row; }

.ellaHeaderDiv {
  background-color: #a0066f;
  width: 100%;
  color: white; }

.ellaUsername {
  float: left;
  margin: 2vh 0 2vh 3vh;
  font-weight: lighter;
  font-size: 90%;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 0.5%; }

.ellaWelcomeDiv {
  background-color: #a0066f;
  color: white;
  text-align: center;
  text-shadow: 0 1px #4e3747;
  padding-top: 1%; }

.ellaWelcomeDiv > span {
  font-weight: 500;
  font-size: 70%;
  text-transform: uppercase; }

.ellaWelcomeDiv > h1 {
  text-align: center;
  font-weight: lighter; }

.matiasPageContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column; }

.matiasLoadingSpan {
  margin: auto; }

.matiasUsernameIcon {
  margin-right: 5px; }

.flexDiv {
  display: flex;
  flex-direction: row; }

.matiasHeaderDiv {
  width: 100%;
  height: 10vh;
  background-color: #3b34c4;
  color: white; }

.matiasUsername {
  float: left;
  margin-left: 6vh;
  margin-top: 3vh;
  font-weight: lighter;
  font-size: 90%;
  text-decoration: none; }

.matiasMenuItems {
  margin-top: 3vh;
  margin-left: 20%; }

.matiasMenuItems > span {
  margin: 3vh;
  font-weight: lighter;
  font-size: 90%; }

.matiasWelcomeDiv {
  background-color: #3b34c4;
  color: white;
  border-bottom: 1px solid #e8e9eb; }

.matiasWelcomeDiv > h1 {
  margin-left: 6vh;
  font-weight: 500; }

.tutorialPageContainer {
  position: absolute;
  top: 50px;
  width: 750px;
  left: 50%;
  margin-left: -400px;
  background-color: #FFF;
  padding: 25px;
  border-bottom: 50px solid #f5f6fa; }

body {
  background-color: #f5f6fa; }

.Page {
  height: 100vh;
  width: 100%; }

.Username {
  float: right;
  margin: 3vh; }

body {
  background-color: #f5f6fa; }

.LCcontainer {
  background-color: #f5f6fa;
  width: 100%;
  height: 100%; }
  .LCcontainer > br {
    clear: left; }

.LCHeader {
  height: 50px;
  background-color: white;
  border-bottom: 1px solid #ebeef5; }
  .LCHeader > div {
    position: relative;
    height: 100%;
    width: 50px;
    border-right: 1px solid #ebeef5; }
  .LCHeader > p {
    font-size: 10pt;
    line-height: 25px; }

.loc-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.username-txt {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  margin-right: 5%; }

.cardsContainer {
  width: 60%; }
  .cardsContainer > div > span {
    margin-bottom: 10px; }

.contentTable {
  height: 1px;
  max-height: 500px;
  width: 95%;
  margin: 20px;
  margin-left: 200px; }
  .contentTable tr:nth-child(1) td:not(.blockchainCell) {
    min-width: 275px; }
  .contentTable td {
    vertical-align: top;
    padding: 12.5px; }
  .contentTable .blockchainCell {
    width: 99%;
    height: 100%; }

.rules {
  display: block;
  text-align: left;
  width: 76.5%;
  margin: 2%; }

.actions {
  padding-right: 1%;
  display: flex;
  justify-content: flex-end; }
  .actions > button {
    border-radius: 30px;
    padding: 10px 20px;
    margin: 0 10px 10px 0;
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
    z-index: 99999999; }
  .actions > button:enabled {
    background-color: #4880ff;
    color: #fff;
    border: 1px solid #4880ff; }
  .actions > button:disabled {
    cursor: not-allowed;
    background-color: transparent;
    border-color: black;
    color: black;
    opacity: 0.3; }
  .actions > button:enabled:hover {
    border: 1px solid #4880ff;
    background-color: transparent;
    color: #4880ff; }

.statusMessage {
  margin: 2.5%; }

.backButton {
  cursor: pointer;
  height: 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 50%;
  margin-left: -7.5px;
  z-index: 999999999; }

.userInfo {
  display: inline-block;
  padding: 2% 0 0 2%; }

.header {
  display: flex; }

.stepper {
  width: 50%;
  margin: 0 auto; }

.alertContainer {
  margin-top: -12px;
  font-size: 10pt; }

.invisible {
  opacity: 0;
  cursor: default; }

.tick {
  margin: auto;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 6px 10px 6px;
  border-color: transparent transparent #4d4f75 transparent;
  z-index: 100; }

.alert {
  display: flex;
  margin: auto;
  height: 35px;
  width: 300px;
  line-height: 1;
  border-radius: 5px;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.15);
  background-color: #4d4f75; }
  .alert > p {
    color: white;
    font-weight: lighter;
    font-size: small;
    margin: auto;
    margin-right: 5px;
    font-size: 10pt; }
    .alert > p > b {
      font-weight: 500; }
  .alert > button {
    padding: 0;
    padding-bottom: 3px;
    height: 25px;
    width: 25px;
    margin: auto;
    margin-left: 0px;
    background: none;
    border: none;
    color: white;
    font-size: large; }
  .alert > button:disabled {
    cursor: default; }

.Block {
  padding-left: 5px;
  align-items: center;
  display: flex;
  margin: 0;
  color: #949494;
  min-height: 65px; }
  .Block:nth-child(2) .BlockLine {
    box-shadow: 0 0 5px #8bb0ff; }

.BlockLine {
  background-color: #477fff;
  border-radius: 2px;
  width: 2px;
  height: 50px;
  margin: 0 15px; }

.BlockText {
  display: inline-block;
  line-height: 5px;
  font-size: 9pt; }

.BlockNumber {
  display: inline-block; }

.BlockChainDisplay {
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  width: 200px;
  height: 0px;
  min-height: 100%; }

.greyBlock {
  padding-left: 5px;
  padding-top: 10px;
  align-items: center;
  margin: 0; }

.greyBlockLine {
  background-color: #ddd;
  box-shadow: 0 0 5px #d1d1d1;
  width: 2px;
  height: 25px;
  display: inline-block;
  margin: 0 15px; }

.greyBlockNumber {
  display: inline-block;
  opacity: 0; }

.outerDiv {
  position: relative; }

.cardContainer {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  border: 1px solid #e4e4e4;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05); }
  .cardContainer input {
    width: 75%; }
  .cardContainer > ul {
    margin: 0;
    padding: 0;
    padding-left: 20px; }
    .cardContainer > ul > li {
      font-size: 10pt;
      margin: 10px 0px; }
  .cardContainer > h5 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 11px;
    font-weight: 600; }

.editButton {
  width: 130px;
  height: 34px;
  position: absolute;
  bottom: -15px;
  left: 20px;
  border-radius: 30px;
  background-color: #4880ff;
  border: none;
  color: white;
  font-size: 10pt; }
  .editButton > span {
    background-color: #416dd1;
    border-radius: 30px;
    width: 50px;
    float: left;
    padding: 3px; }

.disabled {
  background: transparent;
  box-shadow: none;
  border: 1px solid #d1d1d1; }

.subheadingSpan {
  float: left;
  clear: left; }

.topHeading {
  float: left;
  clear: left;
  color: #95989a;
  padding-top: 5px; }

.subheadingSpan, .topHeading {
  font-size: 10pt;
  padding-bottom: 5px;
  width: unset; }

.LoCCard {
  padding: 20px 20px 40px 30px;
  margin-left: 6vh;
  border: 1px solid white;
  text-align: left;
  color: white;
  font-weight: lighter;
  min-width: 21%;
  max-width: 21%; }
  .LoCCard > h3 {
    font-weight: lighter; }

.noBorder {
  border: none;
  padding-left: 0; }

.viewButton {
  margin-top: 5px;
  margin-left: -5px;
  border: 1px solid #273ec6;
  border-radius: 20px;
  background-color: #273ec6;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex; }
  .viewButton > p {
    margin: 0;
    padding-right: 8px; }

.LoCCardBob {
  padding: 20px 20px 40px 30px;
  margin-left: 6vh;
  border: 5px solid #7646c0;
  box-shadow: 0 2px 22px 2px #7646c0;
  text-align: left;
  color: white;
  font-weight: lighter;
  font-size: 15px;
  min-width: 14%;
  max-width: 14%; }
  .LoCCardBob > h3 {
    font-weight: lighter; }
  .LoCCardBob > .background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.viewButtonBob {
  margin-top: 5px;
  margin-left: -5px;
  padding-top: 12px;
  padding-bottom: 12px;
  float: right;
  width: 7%; }

.viewButtonBob:hover {
  cursor: pointer; }

.viewButtonImage {
  padding-right: 8px;
  padding-left: 8px; }

.applyButton {
  background-color: #fc6a66;
  border-color: #fc6a66;
  padding-left: 10px; }

.shipButtonDiv {
  display: flex;
  margin-top: 25px; }

.shipButton {
  width: 25px;
  margin: auto;
  color: #BC5184;
  border-color: #BC5184;
  background: none;
  border-radius: 20px;
  padding: 5px 0px; }

.shipButton:disabled {
  background-color: white;
  color: #28293c;
  border-color: white; }

.acceptButton {
  width: 25px;
  margin: auto;
  border-color: white;
  background: none;
  border-radius: 20px;
  padding: 5px 8px; }

.acceptButton:disabled {
  background-color: white;
  color: #3b34c4;
  border-color: white; }

.shipText {
  margin: auto;
  margin-left: 10px; }

#LoCCardBobAccepted {
  background: linear-gradient(-90deg, rgba(118, 70, 192, 0.27) 0%, rgba(190, 79, 131, 0.68) 100%); }

.background {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(204, 205, 206, 0.75);
  z-index: 100000000; }

.container {
  flex-direction: column;
  display: flex;
  margin: auto;
  height: 300px;
  width: 300px;
  background-color: white;
  justify-content: space-between; }
  .container > div {
    height: 100%;
    position: relative; }
    .container > div > h3 {
      text-align: center;
      color: #2e3e4f; }

.shipContainer {
  height: 50%;
  width: 50%; }

.title {
  color: black; }

.message {
  color: black; }

.textMargins {
  margin: 30px; }

.buttonsRow {
  width: 90%;
  position: absolute;
  bottom: 0;
  margin: 0 0 5% 5%; }

.yesButton {
  border-radius: 30px;
  font-size: 85%;
  white-space: nowrap;
  text-align: center;
  float: right; }

.yesButton:enabled {
  background-color: #4880ff;
  color: #fff;
  border: 1px solid #4880ff; }

.yesButton:disabled {
  cursor: not-allowed; }

.yesButton:hover:enabled {
  border: 1px solid #4880ff;
  color: #4880ff;
  background-color: transparent; }

.cancelButton {
  padding: 0;
  border: none;
  background: none;
  font-size: 85%;
  text-decoration: underline;
  color: #4880ff; }

.files-table {
  margin: 0 0 0 5%;
  width: 90%; }
  .files-table td {
    margin-left: 5%;
    border-bottom: 1px solid #ccc;
    color: #2e3e4f; }
  .files-table tr :hover {
    background-color: #fafafa; }

.loadingMessage {
  color: black;
  text-align: center; }

.UserDetails {
  text-align: left;
  padding-left: 6vh;
  padding-bottom: 50px;
  color: white;
  font-weight: lighter; }
  .UserDetails > h1 {
    font-size: 19px;
    font-weight: 400; }
  .UserDetails > div {
    margin-bottom: 5px; }
    .UserDetails > div > b {
      font-weight: 500; }

.userDetailsTextBold {
  font-weight: bold;
  display: inline; }

.headerBar {
  height: 5vh;
  border: 1px solid #e8e9eb;
  background-color: #f6f8fb;
  line-height: 2.5; }

.locOrdersText {
  margin-left: 6vh; }

.viewAllText {
  margin-left: 50%; }

.bankTable {
  width: 80%;
  margin: 3vh 0 3vh 6vh;
  border-collapse: collapse; }
  .bankTable th {
    text-align: left;
    height: 5vh; }
  .bankTable th:nth-child(2) {
    padding-left: 2%; }
  .bankTable .row:hover {
    cursor: pointer;
    background-color: #f6f8fb; }
  .bankTable td {
    height: 5vh;
    font-weight: 500;
    font-size: 12pt;
    color: #999; }
  .bankTable td:nth-child(2) {
    padding-left: 2%; }
  .bankTable td span {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5%; }

.blueText {
  color: #4d48da;
  border-right: 1px solid grey;
  font-weight: bold; }

.purpleText {
  color: #a0066f;
  border-right: 1px solid grey;
  font-weight: bold; }

body {
  font-family: Open Sans; }

button {
  font-family: Open Sans; }
